langchain
langchain_community
langchain_chroma
python-docx
python-dotenv
pymupdf4llm
streamlit
numpy
pandas
huggingface_hub
transformers
sentence-transformers
langchain_google_genai
google-api-python-client
google-auth
